*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    text-align: center;
}
.container ul {
    display: flex;
    justify-content: center;
    list-style: none;
    
}
.container li a{
    color: black;
    margin: 20px;
    text-decoration: none;
}