* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ccf0f1;
}
.control button {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 28px;
  color: white;
  margin: 0 10px;
}
.success {
  background: green;
}
.warning {
  background: yellowgreen;
}
.error {
  background: red;
}

.toasts {
  position: fixed;
  top: 10px;
  right: 10px;
}
.toasts {
  padding: 20px;
  border: none;
  border-radius: 6px;
  font-size: 26px;
  color: white;
  border-left: 6px solid #37b6d6;
  overflow: hidden;
}
.toasts i {
  margin: 0 10px;
}
.toasts.countdown {
  background:   black;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  animation: countdown 2s ease;
}
.toasts.success {
  background: green;
}

@keyframes countdown {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
