* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #8cc84c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    background: white;
    border-radius: 10px;
    width: 400px;
    padding: 20px;
}

.title {
    font-size: 25px;

}

.content {
    border: 1px solid #888;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    border-radius: 5px;
}

.content li {
    background: green;
    color: white;
    border-radius: 3px;
    list-style: none;
    margin: 4px 3px;
    padding: 10px;
}

.content li i {
    font-size: 16px;
    margin-left: 5px;
    cursor: pointer;
}

.content input {
    border: none;
    outline: none;
    font-size: 20px;
    margin: 10px;
    flex: 1;
}

.remove-all{
    background: #8cc84c;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}